.checkout_product{
    display: flex;
}
.checkoutProduct_image{
    object-fit: contain;
    width: 280px;
    height: 180px;
}
.checkoutP_info{
  padding-left: 20px;
}
.checkoutP_info > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    box-shadow: 1px 3px 5px #9c7e31;
    cursor: pointer;
    font-weight: bold;
    height: 5vh;
    outline: none;
    margin-top:10px;
    color: rgb(10, 7, 7);
}
.checkoutP_rating{
    display: flex;
}
.checkoutP_title{
  font-size: 17px;
  font-weight: 800;
}